
#         uses: Honorio15/php-workflows/.github/workflows/login.yml@master

name: CI via Workflow Reutilizável (correção)

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  login:
    uses: Honorio15/login-workflow/.github/workflows/login.yml@main
